<!DOCTYPE html>
<html>
  <head>
    <include file="./Public/html/_head.html"/>

    <style>
      #all{
        margin:0px auto;
        text-align: center;        
      }
      a{
        font-size: 25px;
      }
</style>
  </head>

  <body id="all">
    
    <header class='demos-header'>
      <h1 class="demos-title">错题回顾</h1>
    </header>

    <font face="黑体" color="red">(错题回顾记录了自由练习和模拟测试中的错题，
    错题重做，若回答正确，错题回顾中将不在出现该题)</font>
      <div style="margin-top:80px"></div>
      <div class="footer">
        <div >
          <a class="button white" href="{:U('Review/review')}">错题重做</a>
        </div>
      </div>    

  </body>
</html>
<include file="./Public/html/_foot.html"/>
<include file="./Public/html/_refreshJs.html"/>
<script>
