<style>
	input{
		border: 0;
		height: 200px;
		width: 100px;
		word-break:break-all;
	}
	textarea{
		text-align: center;
		display: table-cell;
		vertical-align: middle;
		border: 0;
	}

</style>
<div class="aright">

<fieldset class="layui-elem-field layui-field-title" style="margin: 20px 30px 20px 20px;">
  <legend>添加题目</legend>
</fieldset>

<form method="post" action="" class="aform cl">
	<table width="100%">
		<tbody>
                
                <tr>
                    <td align="center">题目章节:</td>
                    <td align="center"> 
                        <select name="type" class="form-control">
                            <volist name="chapterList" id="chapterList">
                            	<option value="{$chapterList.chapter}" >11{$chapterList.chapter}</option>
                            </volist>
                        </select>
                    </td>
                   
                </tr>
                <tr>
			</tr>


		</tbody>
	</table>

    <div class="layui-form-item">
        <div class="layui-input-block" style="margin: 20 35%;">
          <button id="submit" class="layui-btn" lay-submit="" lay-filter="formDemo">立即提交</button>
          <button class="layui-btn layui-btn-primary" onclick="history.go(-1)">返回</button>
        </div>
    </div>

</form>
<script>

</script>
</div>