<!-- 试题详情 -->
<!DOCTYPE html>
<html>
  <head>
    <include file="./Public/html/_head.html"/>
    <style>
        .cell_top{margin-top:0px;}
        .people{margin-left: 30px;}
    </style>
    </style>
  </head>

  <body ontouchstart>
    <include file="./Public/html/_refresh.html"/>
    <header class='demos-header'>
      <h1 class="demos-title">测试统计</h1>
    </header>
    <volist name="quesList" id="quesList" empty="没有测试题目">
      <div class="weui_cells weui_cells_form cell_top ">
        <div class="" style="padding:0px 15px;">{$i}</div>
        <div class="weui_cell weui_article" style="padding:0px 15px;">
          <img src="http://testet-public.stor.sinaapp.com{$quesList.questionPicPath|str_replace='/Public','',###}{$quesList.questionPicName}" alt="">
        </div>
        <div class="weui_cells weui_article cell_top" style="padding:0px; left:15px;">
          <div>A:{$quesList.optionA}人<span class="people">B:{$quesList.optionB}人</span><span class="people">C:{$quesList.optionC}人</span><span class="people">D:{$quesList.optionD}人</span></div>
        </div>
      </div>
    </volist>
  </body>
</html>
<include file="./Public/html/_foot.html"/>
<include file="./Public/html/_refreshJs.html"/>