<style>
    div{
        display: inline-block;
    }
</style>
<div class="aright">
    <form method="post" class="aform cl">
        <table width="100%">
            <tbody>
                 <tr>

                    <th width="10%" align="center">属性</th>
                    <th width="10%" align="center">值</th>
                    <th width="15%" align="center">操作</th></tr>
                <volist name="profileList" id="profileList" empty="暂时没有数据" >
                    <tr>
                        <td align="center">{$profileList.attribute}</td>                     
                        <td align="center">{$profileList.value}</td>                       
                        <td align="center">
                            <if condition="$profileList.isModify eq 1 "><a href="{:U('Profile/edit', array('id'=>$profileList['id']))}">修改</a>
							<else />无
							</if>                          
                        </td>
                    </tr>
                </volist>
            </tbody>
        </table>
              
    </form>
  
    <div class="pages">
     {$page}
     </div> 
</div>