<style>
	input{
		border: 0;
		height: 200px;
		width: 100px;
		word-break:break-all;
	}
	textarea{
		text-align: center;
		display: table-cell;
		vertical-align: middle;
		border: 0;
	}

</style>
<div class="aright">

<fieldset class="layui-elem-field layui-field-title" style="margin: 20px 30px 20px 20px;">
  <legend>添加班级</legend>
</fieldset>

<form method="post" action="" class="aform cl" enctype="multipart/form-data">
	<table width="100%">
		<tbody>
                <tr>
                    <th width="30%" align="center">课堂名称（请保证课堂名称唯一,10个字内）</th>  
                    <th width="10%" align="center">任课教师</th> 
                    <th width="50%" align="center">学生列表</th> 
                </tr>
                <tr>            
                    <td align="center"><input  type="text" name="class"  style="width: 100%;height: 100%;text-align: center;" required="required"/></td>    
                   <td align="center">
                       <select name="name" class="form-control">
                            <volist name="adminerList" id="adminerList">
                            	<option value="{$adminerList.nickname}" >{$adminerList.name}</option>
                            </volist>
                        </select>
                    </td>  
                    	<td align="center">
                        <input id="fileupload" class="form-control webuploader-input" style="width:400px;height:50px;padding-left: 80px;" type="file" name="question[]" data-url="{:U(index)}" multiple="ture" ><br>
                    	<span >导入EXCEL学生列表，请注意文件的格式，<a style="color:red" href="http://classtest-public.stor.sinaapp.com/upload/excel/example_studentlist.xlsx">点击下载</a>标准格式文件</span>
                  </td>
                </tr>
             


		</tbody>
	</table>

    <div class="layui-form-item">
        <div class="layui-input-block" style="margin: 20 35%;">
          <button id="submit" class="layui-btn" lay-submit="" lay-filter="formDemo">立即提交</button>
          <button class="layui-btn layui-btn-primary" onclick="history.go(-1)">返回</button>
        </div>
    </div>

</form>
<script>

</script>
</div>