<style>
	input{
		border: 0;
		height: 200px;
		width: 100px;
		word-break:break-all;
	}
	textarea{
		text-align: center;
		display: table-cell;
		vertical-align: middle;
		border: 0;
	}

</style>
<div class="aright">

<fieldset class="layui-elem-field layui-field-title" style="margin: 20px 30px 20px 20px;">
  <legend>添加教师</legend>
</fieldset>

<form method="post" action="" class="aform cl" enctype="multipart/form-data">
    <input name="chapter" type="hidden" value="{$chapter}"/>
	<table width="100%">
		<tbody>
             
              <tr>
                    <td width="10%" align="center">教师姓名:</td>
                    <td align="center"> 
                       <input id="fileupload" class="form-control webuploader-input" style="width:400px;height:50px;padding-left: 80px;" type="text" name="nickname" required="required" ><br>                 	
                    </td>
                   
                </tr>
              <tr>
                    <td width="10%" align="center">教师账号:</td>
                    <td align="center"> 
                       <input id="fileupload" class="form-control webuploader-input" style="width:400px;height:50px;padding-left: 80px;" type="text" name="nickname" required="required" ><br>                 	
                    </td>
                   
                </tr>
              <tr>
                    <td width="10%" align="center">设置密码:</td>
                    <td align="center"> 
                       <input id="fileupload" class="form-control webuploader-input" style="width:400px;height:50px;padding-left: 80px;" type="text" name="nickname" required="required" ><br>                 	
                    </td>
                   
                </tr>
              <tr>
                    <td width="10%" align="center">重复密码:</td>
                    <td align="center"> 
                       <input id="fileupload" class="form-control webuploader-input" style="width:400px;height:50px;padding-left: 80px;" type="text" name="nickname" required="required" ><br>                 	
                    </td>
                   
                </tr>
            	<!--<tr align="center">
                    <td width="10%" align="center">题目答案:</td>
                    <td align="center"> 
                     <input class="form-control" type="text" name="right_answer" placeholder="" value="" style="height: 30px; width: inherit;border: 1px solid;">
                        <br>
        				<span class="help-block">请按照题目顺序依次填写答案</span>
                    </td>
                   
                </tr>-->
              <!--<tr>
                    <td width="10%" align="center">题目解析:</td>
                    <td align="center">
                         
                       <label class="radio-inline" id="existexplain" onclick="showdiv();">
                          <input type="radio" name="explain" style="height: 20px;width: 20px;" value="existexplain" ><div onclick="showdiv();" style="    display: inherit;">有解析</div>
                        </label>
                        
                           
                        <label class="radio-inline" id="noexplain" onclick="hidediv();">
                          <input type="radio" name="explain" style="height: 20px;width: 20px;" checked="checked" value="noexplain"><div onclick="showdiv();" style="    display: inherit;">无解析</div>
                        </label>
                                
                        <br>
                        <span class="help-block">点击文字有效</span>
                    </td>
                   
                </tr>-->
				<tr id="explain" style="display:table-row">
                    <td width="10%" align="center">试题答案及解析:</td>
                    <td align="center"> 
                      <input id="explainupload" class="form-control webuploader-input"  style="width:400px;height:50px;padding-left: 80px;" type="file" name="analysis[]" data-url="{:U(index)}" multiple="ture">
                    	<br><span class="help-block">请注意选择图片的顺序</span>
                    </td>
                   
                </tr>

		</tbody>
	</table>

    <div class="layui-form-item">
        <div class="layui-input-block" style="margin: 20 35%;">
          <button id="submit" class="layui-btn" lay-submit="" lay-filter="formDemo">立即提交</button>
          <button class="layui-btn layui-btn-primary" onclick="back();return false;">返回</button>
        </div>
    </div>

</form>
<script>
	function showdiv(){
   
      var target=document.getElementById("explain");
            if (target.style.display=="table-row"){
                target.style.display="none";             
            } else {
                target.style.display="table-row";
            }
   }
    function hidediv(){  
      var target=document.getElementById("explain");
            if (target.style.display=="none"){
                target.style.display="table-row";             
            } else {
                target.style.display="none";
            }
   }
    function back(){
    	window.location.href="{:U('Unit/imglists',array('chapterid'=> $chapter))}";
    }
</script>
</div>