<div class="aright">
         <blockquote style="padding: 10px;" class="layui-elem-quote">
      你也可以单独打开后台布局的例子：
      <a class="layui-btn layui-btn-normal" href="layuiAdmin.html" target="_blank">单独打开</a>
    </blockquote>
        <table width="100%">
            <tbody>
                <tr>
                    <th width="10%" align="center" >id</th>
                    <th width="10%" align="center">姓名</th>
                    <th width="10%" align="center">班级</th>
                    <th width="45%" align="center">学号</th>
                    <th width="15%" align="center">操作</th></tr>
                <volist name="userList" id="userList" empty="暂时没有数据" >
                    <tr>
                        <td style="padding-left: 20px;">{$key+1}</td>
                        <td align="center">{$userList.name}</td>
                        <td align="center">{$userList.class}</td>
                        <td align="center">{$userList.number}</td>
                        <td align="center">
                            <a href="#">修改</a>|<a href="#" onclick="return confirm('您确定删除吗？');">删除</a>
                        </td>
                    </tr>
                </volist>
            </tbody>
        </table>
            {$page}        
  
</div>