<!DOCTYPE html>
<html>
<head>
  
    <title>回复界面</title>
    <meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

<meta name="description" content="Write an awesome description for your new site here. You can edit this line in _config.yml. It will appear in your document head meta (for Google search results) and in your feed.xml site description.
">

<link rel="stylesheet" href="__PUBLIC__/css/weui.min.css">
<link rel="stylesheet" href="__PUBLIC__/css/jquery-weui.css">
<link rel="stylesheet" href="__PUBLIC__/css/demos.css">

</head>
<body>
<span>对他说些什么吧</span>


<form action="{:U('addcomment',array('numr'=>$number))}" name="comment" method="post">
	<textarea cols="50" rows="10"></textarea></br>
	<button type="submit">提交</button>
</form>
</body>
</html>