<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>随堂测试</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1">
		<link href="__PUBLIC__/css/exercise.css" type="text/css" rel="stylesheet"/>
		<script src="__PUBLIC__/font/iconfont.js"></script>
		<style type="text/css">
		
		</style>

	</head>
	<body>
		<div class="content">
			<span class="c-title">{$record.name|default="张三"}</span>
			<div class="open-popup" data-target="#half" style="">
				<ul>

					<li style="width: 64%; text-align: left;">
						<span><svg class="icon_progress" aria-hidden="true"><use xmlns:xlink="" xlink:href="#icon-jindu"></use></svg>{$record.count|default="24"}/{$record.sum|default='112'}
						</span>
						<span style="margin-left: 5px;"><svg class="icon_progress" aria-hidden="true"><use xmlns:xlink="" xlink:href="#icon-zhengque1"></use></svg>{$record.rig_cot|default='23'}</span>
						<span style="margin-left: 5px;"><svg class="icon_progress" aria-hidden="true"><use xmlns:xlink="" xlink:href="#icon-cuowu"></use></svg>{$record.wrg_cot|default='123'}</span>
					</li>
					<li id ="collect" style="width: 24%;text-align: right; ">
						<span ><svg class="icon_progress" aria-hidden="true"><use xmlns:xlink="" xlink:href="#icon-shoucang1"></use></svg><span id="collect_tip">收藏</span></span>
					</li>
					
				</ul>
			</div>

			
			<div class="c-pic"><span class="weui-badge">{$quesItem.type}</span><span class="weui-badge" style="margin-left: 5px;">{$quesItem.chapter}</span>{$quesItem.contents}</div>
			<!-- <img class="c-pic" src="__PUBLIC__/images/pic.jpg"> -->
			<div class="c-table">

				<!-- option exit -->
				<if condition="$quesItem.option_a neq ''">
					<a href="javascript:;">
						<div class="option-area" id="option-a">
						    <span><svg class="icon" aria-hidden="true"><use xmlns:xlink="" xlink:href="#icon-option-a"></use></svg></span>
						    <lable class="option-contents">{$quesItem.option_a}</lable>
						</div>
					</a>
				</if>

				<if condition="$quesItem.option_b neq ''">
					<a href="javascript:;">
						<div class="option-area" id="option-b">
						    <span><svg class="icon" aria-hidden="true"><use xmlns:xlink="" xlink:href="#icon-option-b"></use></svg></span>
						    <lable class="option-contents">{$quesItem.option_b}</lable>
						</div>
					</a>
				</if>

				<if condition="$quesItem.option_c neq ''">
					<a href="javascript:;">
						<div class="option-area" id="option-c">
						    <span><svg class="icon" aria-hidden="true"><use xmlns:xlink="" xlink:href="#icon-option-c"></use></svg></span>
						    <lable class="option-contents">{$quesItem.option_c}</lable>
						</div>
					</a>
				</if>

				<if condition="$quesItem.option_d neq ''">
					<a href="javascript:;">
						<div class="option-area" id="option-d">
						    <span><svg class="icon" aria-hidden="true"><use xmlns:xlink="" xlink:href="#icon-option-d"></use></svg></span>
						    <lable class="option-contents">{$quesItem.option_d}</lable>
						</div>
					</a>
				</if>
				
			</div>
			<a class="c-button" href="{:U('Exercise/exercise_chap', array('chapid'=>session('chapid'), 'typeid'=>session('typeid')))}">下一题</a>
		</div>
	</body>
</html>

<script src="__PUBLIC__/lib/jquery-2.1.4.js"></script>
<script type="text/javascript">
	// 获取页面加载的时间
    var start_time = new Date();  

	$('.option-area').one('click',function(){
		// 选择了之后正确
		var use       = $(this).find('use')[0];
		var icon_attr = use.getAttribute('xlink:href');
		var option    = icon_attr.substring(13).toUpperCase(); //选项
		var now       = new Date();
		var time      = Math.ceil((now.getTime() - start_time.getTime()) / 1000);
		

		var data = {
			'option': option,
			'time'  : time
		}

		var url = "{:U('Exercise/submit')}";
        $.post(url, data, function(res){
          	if(res == option) {
          		use.setAttribute('xlink:href', '#icon-option-right');
          	} else {
          		use.setAttribute('xlink:href', '#icon-option-wrong');
				$('#option-'+res.toLowerCase()).find('use')[0].setAttribute('xlink:href', '#icon-option-right');
          	}
        });

		$('.c-table a').removeAttr('href'); //取消a：herf 取消点击样式
		$('.option-area').unbind(); //移除被选元素的事件处理程序
	})	


	// 点击后收藏
    $('#collect').click(function (){
		// 用点点击数次数 偶数次数来判定是否选择
		click_select ++;
		var selec_icon = $(this).find('use')[0];

		
		if (click_select % 2 == 1) {
			selec_icon.setAttribute('xlink:href', '#icon-shoucang11');
			$('#collect_tip').html('已收藏');
		} else {
			selec_icon.setAttribute('xlink:href', '#icon-shoucang1');
			$('#collect_tip').html('收藏');
		}
	});
</script>
