<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>随堂测试</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1">
		<link href="__PUBLIC__/css/exercise.css" type="text/css" rel="stylesheet"/>
		<script src="__PUBLIC__/font/iconfont.js"></script>
		<style type="text/css">
			.icon {
		       width: 25px;
			    height: 25px;
			    float: left;
			    margin-top: 13px;
			    margin-right: 11px;
			   vertical-align: -0.15em;
			   fill: currentColor;
			   overflow: hidden;
			}
			.option-area {
				border-bottom: 1px solid #ddd;
			    color: #666;
			    padding-left: 15px;
			}
			.option-contents {
				display: block;
			    margin-left: 40px;
			    padding: 13px 10px 13px 0;
			    line-height: 25px;
			}
		</style>
	</head>
	<body>
		<!-- <div class="title">微信投票</div> -->
		<div class="content">
			<span class="c-title">李俊君</span>
			<p class="c-time">当前答题56题,正确43题, 进度34/12345 2017-09-02 21:12:45</p>
			<div class="c-pic">这是题干部分， 包含选择题，判断题，多选题，和包含图片的题目</div>
			<!-- <img class="c-pic" src="__PUBLIC__/images/pic.jpg"> -->
			<div class="c-table">
				<a href="javascript:;">
					<div class="option-area">
					    <span><svg class="icon" aria-hidden="true"><use xmlns:xlink="" xlink:href="#icon-xuanxianga"></use></svg></span>
					    <lable class="option-contents">我们都是公众股束带结发拉可见该发生啥都看飞机 按时贷款减肥 拉开水电费就</lable>
					</div>
				</a>
				
				<a href="javascript:;">
					<div class="option-area">
					    <span><svg class="icon" aria-hidden="true"><use xmlns:xlink="" xlink:href="#icon-xuanxianga2"></use></svg></span>
					    <lable class="option-contents">B选项的内容</lable>
					</div>
				</a>
							
			</div>
		</div>
	</body>
</html>
