<!DOCTYPE html>
<html>
    
    <head>
        <title>自由练习</title>
        <include file="./Public/weui2.0/__head.html"/>
         <style type="text/css">
.icon {width: 20px; height: 20px; float: left; margin-top: 0; margin-right: 5px; vertical-align: -0.15em; fill: currentColor; overflow: hidden; }
        </style>
    
        <script src="__PUBLIC__/font/iconfont.js"></script>

        
    
    <body ontouchstart>
        <!-- <header class='demos-header'>
            <h1 class="demos-title">列表</h1></header> -->
        <div class="bd">
            <div class="page__bd">

                <div class="weui-cells__title">按顺序练习</div>
                <div class="weui-cells">
                    <a class="weui-cell weui-cell_access" href="{:U('Exercise/exercise')}">
                        <div class="weui-cell__hd">
                            <span><svg class="icon" aria-hidden="true"><use xmlns:xlink="" xlink:href="#icon-danxuan"></use></svg></span>

                        </div>
                        <div class="weui-cell__bd">
                            <p>顺序练习</p>
                        </div>
                        <div class="weui-cell__ft">{$quesNum}题</div></a>
                </div>

                <div class="weui-cells__title">按知识点分类</div>
                <div class="weui-cells">
                    <volist name="quesChapterArr" id="quesChapterArr">
                        <a class="weui-cell weui-cell_access" href="{:U('Exercise/exercise_chap', array('chapid'=>$quesChapterArr['id']))}">
                            <div class="weui-cell__hd">
                                <span><svg class="icon" aria-hidden="true"><use xmlns:xlink="" xlink:href="#icon-mutil"></use></svg></span>   
                            </div>
                            <div class="weui-cell__bd">
                                <p>{$quesChapterArr.chapter}</p>
                            </div>
                            <div class="weui-cell__ft">{$quesChapterArr.finish_num}/{$quesChapterArr.num}题</div></a>

                    </volist>                    
                </div>
            

                <div class="weui-cells__title">按题型分类</div>
                <div class="weui-cells">
                    <a class="weui-cell weui-cell_access" href="{:U('Exercise/exercise_chap', array('typeid'=>1))}">
                        <div class="weui-cell__hd">
                            <span><svg class="icon" aria-hidden="true"><use xmlns:xlink="" xlink:href="#icon-danxuan"></use></svg></span>

                        </div>
                        <div class="weui-cell__bd">
                            <p>单选题</p>
                        </div>
                        <div class="weui-cell__ft">{$quesTypeArr[0]['num']}题</div></a>
                    <a class="weui-cell weui-cell_access" href="{:U('Exercise/exercise_chap', array('typeid'=>2))}">
                        <div class="weui-cell__hd">
                            <span><svg class="icon" aria-hidden="true"><use xmlns:xlink="" xlink:href="#icon-judge"></use></svg></span>    
                        </div>
                        <div class="weui-cell__bd">
                            <p>判断题</p>
                        </div>
                        <div class="weui-cell__ft">{$quesTypeArr[1]['num']}题</div></a>
                    <a class="weui-cell weui-cell_access" href="{:U('Exercise/exercise_chap', array('typeid'=>3))}">
                        <div class="weui-cell__hd">
                            <span><svg class="icon" aria-hidden="true"><use xmlns:xlink="" xlink:href="#icon-mutil"></use></svg></span>    
                        </div>
                        <div class="weui-cell__bd">
                            <p>多选题</p>
                        </div>
                        <div class="weui-cell__ft">{$quesTypeArr[2]['num']}题</div></a>
                </div>
           

                
            </div>
        </div>
    </body>

</html>
<include file="./Public/html/_foot.html"/>
