<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>随堂测试</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1">
		<link href="__PUBLIC__/css/exercise.css" type="text/css" rel="stylesheet"/>
		<script src="__PUBLIC__/font/iconfont.js"></script>
	</head>
	<body>
		<div class="content">
			<span class="c-title">{$record.name}</span>
			<p class="c-time">{:date('m-d H:i:s', time())}<label style=" margin-left: 60px;">正确{$record.rig_cot}&nbsp;错误{$record.wrg_cot}&nbsp;进度{$record.count}/{$record.sum}</label></p>
			<div class="c-pic"><span class="weui-badge">{$quesItem.type}</span><span class="weui-badge" style="margin-left: 5px;">{$quesItem.chapter}</span>{$quesItem.contents}</div>
			<!-- <img class="c-pic" src="__PUBLIC__/images/pic.jpg"> -->
			<div class="c-table">

				<!-- option exit -->
				<if condition="$quesItem.option_a neq ''">
					<a href="javascript:;">
						<div class="option-area" id="option-a">
						    <span><svg class="icon" aria-hidden="true"><use xmlns:xlink="" xlink:href="#icon-option-a"></use></svg></span>
						    <lable class="option-contents">{$quesItem.option_a}</lable>
						</div>
					</a>
				</if>

				<if condition="$quesItem.option_b neq ''">
					<a href="javascript:;">
						<div class="option-area" id="option-b">
						    <span><svg class="icon" aria-hidden="true"><use xmlns:xlink="" xlink:href="#icon-option-b"></use></svg></span>
						    <lable class="option-contents">{$quesItem.option_b}</lable>
						</div>
					</a>
				</if>

				<if condition="$quesItem.option_c neq ''">
					<a href="javascript:;">
						<div class="option-area" id="option-c">
						    <span><svg class="icon" aria-hidden="true"><use xmlns:xlink="" xlink:href="#icon-option-c"></use></svg></span>
						    <lable class="option-contents">{$quesItem.option_b}</lable>
						</div>
					</a>
				</if>

				<if condition="$quesItem.option_d neq ''">
					<a href="javascript:;">
						<div class="option-area" id="option-d">
						    <span><svg class="icon" aria-hidden="true"><use xmlns:xlink="" xlink:href="#icon-option-d"></use></svg></span>
						    <lable class="option-contents">{$quesItem.option_b}</lable>
						</div>
					</a>
				</if>
				
			</div>
			<a class="c-button" href="{:U('Exercise/exercise', array('quesid'=>session('quesid') + 1))}">下一题</a>
		</div>
	</body>
</html>
<script src="__PUBLIC__/lib/jquery-2.1.4.js"></script>
<script type="text/javascript">
	// 获取页面加载的时间
    var start_time = new Date();  
    var click_times = {'A':0, 'B':0, 'C':0, 'D':0};


    $('.option-area').click(function(){
    	var use       = $(this).find('use')[0];
		var icon_attr = use.getAttribute('xlink:href');
		var option    = icon_attr.substring(13).toUpperCase(); //选项
		click_times[option] ++;

		console.log(click_times);
		console.log(icon_attr);

		// 判断该选项是否选中
		if(click_times[option] / 2 == 0) {
			use.setAttribute('xlink:href', icon_attr.substring(0, 11));
			console.log(icon_attr.substring(0, 11));
			
		} else {
			use.setAttribute('xlink:href', icon_attr + '-select');
			console.log(icon_attr + '-select');
		}



    });
    

</script>
