<html class="pixel-ratio-2 retina ios ios-9 ios-9-1 ios-gt-8 ios-gt-7 ios-gt-6"><head>
    <title>jQuery WeUI</title>
    <meta charset="utf-8">
    <include file="./Public/weui2.0/__head.html"/>


  </head>

  <body ontouchstart="">

    <div class="weui-msg">
      <div class="weui-msg__icon-area"><i class="weui-icon-success weui-icon_msg"></i></div>
      <div class="weui-msg__text-area">
        <h2 class="weui-msg__title">恭喜你！</h2>
        <p class="weui-msg__desc">你已完成该章节所有题目</p>
      </div>
      <div class="weui-msg__opr-area">
        <p class="weui-btn-area">
          <a href="javascript:;" class="weui-btn weui-btn_primary">下一章节</a>
          <a href="javascript:;" class="weui-btn weui-btn_default">返回主页面</a>
        </p>
   <!--    </div>
      <div class="weui-msg__extra-area">
        <div class="weui-footer">
          <p class="weui-footer__links">
            <a href="javascript:void(0);" class="weui-footer__link">底部链接文本</a>
          </p>
          <p class="weui-footer__text">Copyright © 2008-2016 weui.io</p>
        </div>
      </div>
    </div> -->
  <include file="./Public/weui2.0/__head.html"/>
    

  

</body></html>