<!DOCTYPE html>
<html>
<head>
	<title>狼人杀</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<link rel="stylesheet" href="__PUBLIC__/css/Gameindex.css">
</head>
<body>
<div id="gameplace">
	<div id="kaijinfang">
		<img src="__PUBLIC__/images/kaifang.png" height="200" width="200" onclick="javascript:window.location.href='__URL__/kaifang.html'" id="kaifang">开房
		<img src="__PUBLIC__/images/jinfang.png" height="200" width="200" onclick="javascript:window.location.href='__URL__/jinfang.html'" id="jinfang">进房
	</div>
</div>
</body>
</html>