
<!doctype html>
<html lang="en-US">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <link href="71/__PUBLIC__/css/kaifang.css" rel='stylesheet' type='text/css' />

<title>狼人</title>

</head>
<body>
<div class="gridContainer clearfix">
<form action="{:U('Home/Game/fangjiannum')}" method="post">

  <div id="top_box" class="box clearfix">
    <table class="input_table">
      <tr>
        <td colspan="3">
          <span style="display:inline-block; margin-right:1%;  text-align:right">人数：</span>
          <select class="langrensha_select" style="margin-right:5%; width:80px;" name="people" id="people" onchange="changeAll(this.value)">
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
            <option value="13">13</option>
            <option value="14">14</option>
            <option value="15">15</option>
            <option value="16">16</option>
            <option value="17">17</option>
            <option value="18">18</option>
            <option value="19">19</option>
            <option value="20">20</option>
          </select><!-- <a class="am_tab" href="#" onclick="changeAuto();" id="sdpz">自动配置</a></td> -->
      </tr>
      <tr align="center" valign="middle" >
        <td height="50" colspan="3"><hr/></td>
      </tr>
      <tr>
        <td align="left" width="42%">狼人数：</td>
        <td><select class="langrensha_select" style="width:80px;" name="langren" id="langren" onchange="changeLr(this.value)">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
          </select></td>
          <td></td>
      </tr>
      <tr>
        <td align="left">村民数：</td>
        <td colspan="2"><input type="text" style="width: 50px;border:0;background-color: #f8e6ca;font-size:22px;" class="red" value="2" id="cunmin" name="cunmin" readonly="readonly"/></td>
      </tr>
      <tr class="small">
        <td width="33%" ><input type="checkbox" name="yyj" id="yyj" value="1" checked="checked" /> 预言家</td>
        <td width="33%" ><input type="checkbox" name="nvwu" id="nvwu" value="1" checked="checked" /> 女巫</td>
        <td width="33%" ><input type="checkbox" name="lieren" id="lieren" value="1"  />丘比特 </td>
      </tr>
      <tr class="small">
       <td width="33%" ><input type="checkbox" name="qbt" id="qbt" value="1" checked="checked" /> 猎人</td>
        <td width="33%" ><input type="checkbox" name="shouwei" id="shouwei" value="1" /> 守卫</td>
        <td width="33%" ><input type="checkbox" name="baichi" id="baichi" value="1"  /> 白痴</td>
      </tr>
      
    </table>
  </div>
  <input id="creategame" type="submit" class="main_btn" value="创建游戏" />
  <input type="hidden" value="1" name="flag">
</form></div>



<script type="text/javascript" src="__PUBLIC__/js/jquery.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/kaifang.js"></script>


</body>
</html>