<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
	<script src="__PUBLIC__/js/jquery-1.11.1.min.js"></script>

</head>
<body>
<div class="yuyin" style="display:{$flag}">

	<span>房主操作</span>
	
	<button id="tianliangle">天亮了（先竞选警长），查看昨晚情况</button></br> 
	<span id="zuowansideshi"></span>  

	
	
	
	<script type="text/javascript">
	$("#tianliangle").click(function(event){
		$.ajax({
			type:"POST",
			url:"{:U('Game/tianliangle')}",
			success:function(siderenshi)
			{
				$("#zuowansideshi").html("昨晚死的人是"+siderenshi+"号");
			}
		});
	});

	</script>
	</br>

	<input type="text" id="fangzhutoupiao">
	<button type="submit" id="piao">票他出去</button>
	<script type="text/javascript">
		$("#piao").click(function(event){
			$.ajax({
				url:"{:U('Game/toupiao')}",
				type:"POST",
				data:{fangzhutoupiao:$("#fangzhutoupiao").val()}
				
			});
			alert("已投");
		});

	</script>
	</br>
	<audio src="__PUBLIC__/music/langrensha.mp3" controls="controls"></audio>  <!--黑闭，狼杀,女巫，预言家，天亮睁眼，竞选警长，昨晚 -->

</div>


</br>
<span>今夜死的人是</span>



<button id="shuisi">查看</button>

<script type="text/javascript">
	$("#shuisi").click(function(event){
		
		$.ajax({
			type:"POST",
			url:"{:U('Game/nvwu2')}",

			success:function(sss)
			{
				$("#si").show();	
				$("#si").html("今晚死的人是"+sss+"号");
				$("#xuanze").show();
			}
		});
	});

</script>

<span hidden="hidden" id="si"></span>
<div id="xuanze" hidden="hidden">
	<input name="yongyao" type="radio" value="救" id="jiu"><span id="J">救</span>
	<input name="yongyao" type="radio" value="毒" id="du"><span id="D">毒</span>
	<input name="du" id="dujihao" hidden="hidden">
	<input name="yongyao" type="radio" value="什么也不做" id="buzuo">什么也不做
	
	<button id="queding">确定</button>
</div>

<script type="text/javascript">
	$("#du").click(function(event)
	{
		$("#dujihao").show();

	});
	$("#jiu").click(function(event)
	{
		$("#dujihao").hide();


	});
	$("#buzuo").click(function(event)
	{
		$("#dujihao").hide();


	});
	$("#queding").click(function(event)
	{

		$.ajax({
			type:"POST",
			url:"{:U('Game/nvwu3')}",
			data:{caozuo:$("input[name='yongyao']:checked").val(),dujihao:$("#dujihao").val()},
			success:function(disable)      //禁止以上的救，毒按钮
			{
				switch(disable)
				{
					case '救': $('#jiu').hide(); $('#J').hide();
						break;
					case '毒': $('#du').hide(); $('#dujihao').hide(); $("#D").hide();
						break;
					default:
						break;
				}
			}

		});
		alert("操作成功");
	});

</script>





</body>
</html>
