<!DOCTYPE html>
<html>
  <head>
    <include file="./Public/html/_head.html"/>

    <style>
      #all{
        margin:0px auto;
        text-align: center;        
      }
      a{
        font-size: 25px;
      }
</style>


  </head>

  <body id="all">


    
    <header class='demos-header'>
      <h1 class="demos-title">我的收藏</h1>
    </header>

    <font face="黑体" color="red">(我的收藏都在这儿了)</font>
      <div style="margin-top:80px"></div>
      <div class="footer">
        <div >
          <a class="button white" href="{:U('Collect/collect')}">我的收藏</a>
        </div>
      </div>    

  </body>
</html>
<include file="./Public/html/_foot.html"/>
<include file="./Public/html/_refreshJs.html"/>
<script>
