<html class="pixel-ratio-2 retina ios ios-9 ios-9-1 ios-gt-8 ios-gt-7 ios-gt-6">
    
    <head>
        <include file="./Public/weui2.0/__head.html"/>
        <style type="text/css">
            .img{width: 100px; height: 100px; border-radius:50px;}
            .weui-msg__text-area{padding:0;}
            .weui-form-preview__bd, .weui-cells__title{text-align: left;}
            .weui-msg__icon-area {margin-bottom: 20px;}
            .weui-btn_primary {background-color: #10aeff;}
        </style>
    
    <body ontouchstart="">
        <div class="weui-msg">
            <div class="weui-msg__icon-area">
                <img class="img" src="{$studentInfo['headimgurl']|default='__PUBLIC__/images/newer/xsc_logo.jpg'}">
            </div>
            <div class="weui-msg__text-area">
                <h2 class="weui-msg__title">{$studentInfo['name']}lijj</h2>
                <div class="weui-cells__title">考试说明</div>
                <div class="weui-form-preview">
                    <div class="weui-form-preview__bd">
                        <div class="weui-form-preview__item">
                            <ul>
                                <li>1. 本次考试时间{$examinfo['set_time']}分钟</li>
                                <li>2. 本次考试题目{$quesnum}道题</li>
                                <li>3. 答对{$quesnum*3/5|ceil}道题目算通过</li>
                                <li>4. 一人只有一次提交机会</li>
                            </ul>    
                        </div>
                    </div>
                  
                  
                </div>
            </div>
            <div class="weui-msg__opr-area">
                <p class="weui-btn-area">
                    <a id="enter_exam" class="weui-btn weui-btn_primary">进入考试</a>
            </div>
            
        </div>
        
    </body>

</html>
<include file="./Public/weui2.0/__foot.html"/>
<script>
    $(function(){

        //点击 进入考试
        $("#enter_exam").click(function(){
            var url = "{:U('Exam/enter_exam')}";

            $.post(url, function(res){
                if (res == 'enter') {
                    // alert("ss");
                    window.location.href= "{:U('Exam/exam')}";
                }else{
                    $.alert(res,"确定");
                }
            });
            // {I('id')}


            // 判断是否到了考试时间
            // if (提交) {
            //     $.alert('没到考试时间', '提示');

            // } else if (没到考试时间 && is_on = 0) {

            // } else {
            //     // 初始化考试题目
            //     // 跳转大题页面
            // }
        });

    });
</script>
