<!DOCTYPE html>
<html>
  <head>
    <title></title>
  </head>

  <body ontouchstart>
    <include file="./Public/html/_head.html"/>
    <include file="./Public/html/_refresh.html"/>
    <header class='demos-header'>
      <h1 class="demos-title">课后作业</h1>
    </header>

    <div class="bd">
      <div class="weui_cells weui_cells_access">
        
          <div class="weui_cell_hd"><img src="__PUBLIC__/images/icon_nav_dialog.png" class="icon_nav" alt="" style="width:28px;height:28px;margin-right:5px;display:block"></div>
          <div class="weui_cell_bd weui_cell_primary">
            <p class="weui_btn weui_btn_mini weui_btn_primary open-popup" data-target="#half">布置作业</p>
          </div>
          <div class="weui_cell_ft"></div>
        
        <a class="weui_cell" href="{:U('homework_list_correct')}">
          <div class="weui_cell_hd"><img src="__PUBLIC__/images/icon_nav_toast.png" class="icon_nav" alt="" style="width:28px;height:28px;margin-right:5px;display:block"></div>
          <div class="weui_cell_bd weui_cell_primary">
            <p>批改作业</p>
          </div>
          <div class="weui_cell_ft"><span class="demos-badge demos-badge-red">{$correcNumber|default='0'}</span></div>
        </a>
        <a class="weui_cell" href="{:U('homework_list_view')}">
          <div class="weui_cell_hd"><img src="__PUBLIC__/images/icon_nav_search_bar.png" class="icon_nav" alt="" style="width:28px;height:28px;margin-right:5px;display:block"></div>
          <div class="weui_cell_bd weui_cell_primary">
            <p>浏览作业</p>
          </div>
          <div class="weui_cell_ft"></div>
        </a>
      </div>
    </div>

    <div id="half" class='weui-popup-container popup-bottom'>
      <div class="weui-popup-modal">
        <div class="toolbar">
          <div class="toolbar-inner">
            <a href="javascript:;" class="picker-button close-popup">取消</a>
            <h1 class="title">选择出题类型</h1>
          </div>
        </div>
        <div class="modal-content">
          <div class="weui_grids">
            <a href="javascript:getMark(0);" class="weui_grid js_grid close-popup" data-id="dialog" style="width: 50%">
              <div class="weui_grid_icon">
                <!-- <img src="__PUBLIC__/images/33.png" alt=""> --><h1 style="text-align:center">主</h1>
              </div>
            </a>
            <a href="javascript:getMark(0);" class="weui_grid js_grid close-popup" data-id="dialog" style="width: 50%">
              <div class="weui_grid_icon">
                <!-- <img src="__PUBLIC__/images/33.png" alt=""> --><h1 style="text-align:center">客</h1>
              </div>
            </a>
          </div>
          
        </div>
      </div>
    </div>



  </body>
</html>
<include file="./Public/html/_foot.html"/>
<include file="./Public/html/_refreshJs.html"/>
<script>
  var number = $('.demos-badge').html();
  if(number == 0)
    $('.demos-badge').hide();

  $(document).on("open", ".weui-popup-modal", function() {
          console.log("open popup");
        }).on("close", ".weui-popup-modal", function() {
          console.log("close popup");
        });

</script>
