<!DOCTYPE html>
<html>
  <head>
  <title></title>
 </head>
 <body ontouchstart="">
    <include file="./Public/html/_head.html"/>
    <include file="./Public/html/_refresh.html"/>
    <header class='demos-header'>
      <h1 class="demos-title">浏览作业</h1>
      <h3 class="demos-title">总人数：{$sum}</h3>
    </header>

    <div class="weui_panel weui_panel_access">
      <div class="weui_panel_bd">
        <volist name="homework" id="homework" empty="没有作业可供浏览">
            <a href="{:U('homework_view')}?id={$homework.id}" class="weui_media_box weui_media_appmsg">
              <div class="weui_media_bd">

                <h4 class="weui_media_title">{$homework.homeworkname}</h4>
                <p class="weui_media_desc"></p>
              </div>
                  
                <div class="weui_cell_ft alert">
   
                    <div><i class="weui_icon_info"></i>已提交:{$homework.submit}</div>
                    <div> 
                    <if condition="$homework.flag eq 1">
                        <i class="weui_icon_success_circle"></i>未提交:{$sum-$homework.submit}
                    <else/>
                        <i class="weui_icon_warn"></i>补交:{$homework.bjnum}
                    </if>
                    </div>
                </div>
            </a>        

           

        </volist>
      </div>
    </div>
     <include file="./Public/html/_foot.html"/>
     <include file="./Public/html/_refreshJs.html"/>
  </body>
</html>

