<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
        <title>WeUI</title>
        <include file="./Public/weui2.0/__head.html" />
        <link rel="stylesheet" href="//res.wx.qq.com/open/libs/weui/1.1.2/weui.min.css"/>
    </head>
    <body>  
            <div id="actionSheet_wrap">
                <div class="weui-mask_transparent actionsheet__mask" id="mask"></div>
                <div class="weui-actionsheet" id="weui-actionsheet">
                    <div class="weui-actionsheet__menu">
                        <div class="weui-actionsheet__cell">示例菜单</div>
                        <div class="weui-actionsheet__cell">示例菜单</div>
                        <div class="weui-actionsheet__cell">示例菜单</div>
                        <div class="weui-actionsheet__cell">示例菜单</div>
                    </div>
                    <div class="weui-actionsheet__action">
                        <div class="weui-actionsheet__cell" id="actionsheet_cancel">取消</div>
                    </div>
                </div>

            </div>
        
    </body>
    <include file="./Public/weui2.0/__foot.html" />
</html>