<!DOCTYPE html>
<html>
  <head>
    <title>jQuery WeUI</title>
    <meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!-- <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"> -->

<meta name="description" content="Write an awesome description for your new site here. You can edit this line in _config.yml. It will appear in your document head meta (for Google search results) and in your feed.xml site description.
">

<link rel="stylesheet" href="__PUBLIC__/css/weui.min.css">
<link rel="stylesheet" href="__PUBLIC__/css/jquery-weui.css">
<link rel="stylesheet" href="__PUBLIC__/css/demos.css">

  </head>

  <body ontouchstart>

    <header class='demos-header'>
      <h1 class="demos-title">欢迎你</h1>
      <p class='demos-sub-title'>{$Think.session.user.id}同学</p>
    </header>

    <div class="weui_grids">
      <a href="{:U('Home/Communicationplat/index')}" class="weui_grid js_grid">
        <div class="weui_grid_icon">
          <img src="__PUBLIC__/images/icon_nav_button.png" alt="">
        </div>
        <p class="weui_grid_label">
          互动平台
        </p>
      </a>
      <a href="cell.html" class="weui_grid js_grid">
        <div class="weui_grid_icon">
          <img src="__PUBLIC__/images/icon_nav_cell.png" alt="">
        </div>
        <p class="weui_grid_label">
          List
        </p>
      </a>
      <a href="index.php?p=admin&c=user&a=add" class="weui_grid js_grid">
        <div class="weui_grid_icon">
          <img src="__PUBLIC__/images/icon_nav_cell.png" alt="">
        </div>
        <p class="weui_grid_label">
          Form
        </p>
      </a>
      <a href="toast.html" class="weui_grid js_grid">
        <div class="weui_grid_icon">
          <img src="__PUBLIC__/images/icon_nav_toast.png" alt="">
        </div>
        <p class="weui_grid_label">
          Toast
        </p>
      </a>
      <a href="dialog.html" class="weui_grid js_grid">
        <div class="weui_grid_icon">
          <img src="__PUBLIC__/images/icon_nav_dialog.png" alt="">
        </div>
        <p class="weui_grid_label">
          Dialog
        </p>
      </a>
      <a href="index.php?p=admin&c=user&a=show" class="weui_grid js_grid">
        <div class="weui_grid_icon">
          <img src="__PUBLIC__/images/icon_nav_article.png" alt="">
        </div>
        <p class="weui_grid_label">
          Show
        </p>
      </a>
      <a href="index.php?p=admin&c=user&a=panel" class="weui_grid js_grid">
        <div class="weui_grid_icon">
          <img src="__PUBLIC__/images/icon_nav_panel.png" alt="">
        </div>
        <p class="weui_grid_label">
          Panel
        </p>
      </a>
      <a href="index.php?p=admin&c=user&a=ptr" class="weui_grid js_grid">
        <div class="weui_grid_icon">
          <img src="__PUBLIC__/images/icon_nav_ptr.png" alt="">
        </div>
        <p class="weui_grid_label">
          下拉刷新
        </p>
      </a>
    </div>

    <style>
      .weui_icon_info_circle:before {
        font-size: 28px;
        color: #09BB07;
      }
    </style>
    <script src="__PUBLIC__/js/jquery-2.1.4.js"></script>
<script src="__PUBLIC__/js/jquery-weui.js"></script>

    </body>

  </html>
