<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <include file="./Public/html/_head.html"/>
  </head>

  <body ontouchstart>

    <header class='demos-header'>
      <h1 class="demos-title">批改作业({$homeworkname})</h1>
      <h2>左为同学答案，右为标准答案</h2>
    </header>
      
          <volist name="problem" id="data">
            <div class="weui_cell">
              <div>
              {$data.imgurl} 
              </div>
              <div>
              {$data.right_answer} 
              </div>
              
            </div>


          </volist>
            

    <include file="./Public/html/_foot.html"/>


    <script>
      $(document).ready(function(){
         
          

          


      });
      



       $(document).on("open", ".weui-popup-modal", function() {
          console.log("open popup");
        }).on("close", ".weui-popup-modal", function() {
          console.log("close popup");
        });


        function getHomeworkPerson(person){
          homeworkInfo = new Array();
          homeworkInfo = person.split('_');  //字符串分割函数
          personName   = homeworkInfo[1];
          personWorkId = homeworkInfo[0];
        }

        function getMark(mark){
            $.confirm("您确定要给"+personName+"本次作业评"+mark+"分吗?", "确认评分?", function(){
              url = "{:U('homework_mark')}";
              data = {
                personWorkId : personWorkId,
                mark:mark,
                personId:{$person.openId}
              };
              $.post(url,data,function(res){
                $.toast("评分成功!");
              });
              $('#'+personWorkId).hide();
            }, function() {
              //取消操作
            });
        }


    </script>
    
  </body>
</html>
