<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <include file="./Public/html/_head.html"/>
  </head>

  <body ontouchstart>

  <empty name="problem">
    <h1 class="demos-title">批改作业({$homeworkname})</h1>
    <h2 style="text-align:center">没有需要批改的作业</h2>
  <else /> 
    <header class='demos-header'>
      <h1 class="demos-title">批改作业({$homeworkname})</h1>
      <h2>上为标准答案，下为同学答案</h2>
    </header>
      
          <volist name="problem" id="data">
            <div>
                <img src="{$data.right_answer}" style="display:block;margin: auto;"> 
                <br>
                
                <if condition="$data.imgurl neq ''" >
                  <img src="{$data.imgurl}" style="display:block;width:100px;height:150px;margin: auto;"> 
                </else>他没有提交该题
                </if> 

                <div style="text-align:center;margin:auto;">
                  <div id="rad" value="2333" style="display:inline">
                    <input type="radio" name="score{$i}" value="5" checked="checked" />5 
                    <input type="radio" name="score{$i}" value="4" />4
                    <input type="radio" name="score{$i}" value="3" />3
                    <input type="radio" name="score{$i}" value="2" />2
                    <input type="radio" name="score{$i}" value="1" />1
                    <input id="problemid{$i}" value="{$data}" style="display:none">
                  </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <a id="submit{$i}" href="javascript:insertscore({$data.id},{$i});" class="weui_btn weui_btn_primary" style="width: 58px;display: inline;">确定</a>
                </div>
            </div>
            <br>
          </volist>
  </empty> 

 <!--  <a href="{:U('homeworkMenu')}?homeworkname={$homeworkname}&status=1" class="weui_btn weui_btn_primary">返回</a> -->    
 <a href="{:U('index')}" class="weui_btn weui_btn_primary">返回</a> 
          
            

    <include file="./Public/html/_foot.html"/>


    <script>
      // $(document).ready(function(){
        
          
      // });

      function insertscore(i,number){
        var homeworkid = i;//作业提交的id
       
        var score;//此作业的分数
        var radio = document.getElementsByName("score"+{$i});  
        for (i=0; i<radio.length; i++) {  
            if (radio[i].checked) {  
                score = radio[i].value;
            }  
        }
        $.ajax({
          type:"POST",
          url:"{:U('mark_score')}",
          data:{homeworkid:homeworkid,score:score},
          success:function(){
            // alert("submit"+number);
            document.getElementById("submit"+number).innerHTML = '已打分';
            
            $("#submit"+number).attr('href','javascript:;');

          }
        });

      }
      



       $(document).on("open", ".weui-popup-modal", function() {
          console.log("open popup");
        }).on("close", ".weui-popup-modal", function() {
          console.log("close popup");
        });


        function getHomeworkPerson(person){
          homeworkInfo = new Array();
          homeworkInfo = person.split('_');  //字符串分割函数
          personName   = homeworkInfo[1];
          personWorkId = homeworkInfo[0];
        }

        // function getMark(mark){
        //     $.confirm("您确定要给"+personName+"本次作业评"+mark+"分吗?", "确认评分?", function(){
        //       url = "{:U('homework_mark')}";
        //       data = {
        //         personWorkId : personWorkId,
        //         mark:mark,
        //         personId:{$person.openId}
        //       };
        //       $.post(url,data,function(res){
        //         $.toast("评分成功!");
        //       });
        //       $('#'+personWorkId).hide();
        //     }, function() {
        //       //取消操作
        //     });
        // }


    </script>
    
  </body>
</html>
